## Deliverable 3. Create a Travel Itinerary Map.

In [69]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [70]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Kindu,CD,80.67,overcast clouds,-2.9500,25.9500,Résidence Okanda
1,4,Kismayo,SO,78.39,light rain,-0.3582,42.5454,Agan-Hotel
2,6,Lompoc,US,77.85,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
3,11,Kavieng,PG,81.18,light rain,-2.5744,150.7967,Nusa Island Retreat
4,15,Santa Maria Del Oro,MX,82.29,few clouds,25.9333,-105.3667,Hotel Palacio Del Sol

In [71]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [72]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "La Palma") & (vacation_df["Country"] == "US")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "La Palma") & (vacation_df["Country"] == "US")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Havelock") & (vacation_df["Country"] == "US")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Shelburne") & (vacation_df["Country"] == "CA")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "North Platte") & (vacation_df["Country"] == "US")]

In [76]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[["Lat","Lng"]].to_numpy())[0][0], (vacation_start[["Lat","Lng"]].to_numpy())[0][1]
end = (vacation_end[["Lat","Lng"]].to_numpy())[0][0], (vacation_end[["Lat","Lng"]].to_numpy())[0][1]
stop1 = (vacation_stop1[["Lat","Lng"]].to_numpy())[0][0], (vacation_stop1[["Lat","Lng"]].to_numpy())[0][1]
stop2 = (vacation_stop2[["Lat","Lng"]].to_numpy())[0][0], (vacation_stop2[["Lat","Lng"]].to_numpy())[0][1]
stop3 = (vacation_stop3[["Lat","Lng"]].to_numpy())[0][0], (vacation_stop3[["Lat","Lng"]].to_numpy())[0][1]

In [95]:
start,end,stop1,stop2,stop3

((33.8464, -118.0467),
 (33.8464, -118.0467),
 (34.8791, -76.9013),
 (44.0787, -80.2041),
 (41.1239, -100.7654))

In [99]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30, 31.0), zoom_level=1.5)
waypoints = [stop1,stop2,stop3]
directions = gmaps.directions_layer(start, end , waypoints= waypoints, travel_mode="DRIVING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,335,La Palma,US,80.19,overcast clouds,33.8464,-118.0467,La Quinta Inn & Suites by Wyndham Buena Park
1,363,Havelock,US,84.94,broken clouds,34.8791,-76.9013,Sherwood Motel
2,559,Shelburne,CA,78.12,overcast clouds,44.0787,-80.2041,The Retreat at the Farm
3,167,North Platte,US,80.98,clear sky,41.1239,-100.7654,"Holiday Inn Express & Suites North Platte, an ..."

In [101]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [102]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))